body {
    margin: auto;
    width: 90%;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul,
footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}
nav .nav-current {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.8em;
}
p {
    font-size: 1em;
    line-height: 1.3em;
    color: #333;
}
.indented {
    text-indent: 20px;
}
footer {
    margin: 10px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    max-width: 1250px;
}
nav {
 border-bottom: 1px solid #d5d5d5;
 max-width: 1250px;
}
h2 {
    font-size: 1.3em;
}
.address a {
    color: #222
}

.roseDrawing {
    width: 45vw;
}
.page {
    margin: 5px;
    min-height: 300px;
    max-width: 1250px;
    min-width: 200px;
}

.wrapping {
    overflow: hidden;
}
.wrapped_box_3 {
    position: relative;
    float: left;
    padding-right: 20px;
}
@media (max-width: 500px) {
    .wrapped_box_3 {
        width: 99%;
    }
}
@media (min-width: 501px) and (max-width:800px) {
    .wrapped_box_3 {
        width: 43%;
    }
}

@media (min-width: 801px) {
    .wrapped_box_3 {
        width: 30%;
    }
}

.wrapped_box_2 {
    position: relative;
    float: left;
    padding-right: 25px;
}
@media (max-width: 500px) {
    .wrapped_box_2 {
        width: 99%;
    }
}
@media (min-width: 801px) {
    .wrapped_box_2 {
        width: 43%;
    }
}




@media (max-width: 1200px) {
    .nameHeader {
        margin-top: 20px;
        line-height: 62%;
        font-size: 8vw;
        text-align: center;
    }
    .nameHeader .first-middle {
        font-size: 5.5vw;
        vertical-align: top;
        font-weight: 100
    }
    .nameHeader .last-heavy {
        font-weight: 400;
    }
    .nameHeader .last-light {
        font-weight: 300;
    }
    .nameHeader .gabe {
        margin-top: 1px;
    }
    .nameHeader .alana {
        position: relative;
        left: 8.4vw;
    }
}

@media (min-width: 1201px) {
    .nameHeader {
        margin-top: 20px;
        line-height: 62%;
        font-size: 5em;
        text-align: center;
    }
    .nameHeader .first-middle {
        font-size: 0.7em;
        vertical-align: top;
        font-weight: 100
    }
    .nameHeader .last-heavy {
        font-weight: 400;
    }
    .nameHeader .last-light {
        font-weight: 300;
    }
    .nameHeader .gabe {
        margin-top: 1px;
    }
    .nameHeader .alana {
        position: relative;
        left: 1.05em;
    }
}


.frontCenter {
    align-self: center;
    text-align: center;
}
