body {
    margin: auto;
    width: 90%;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul,
footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}
nav .nav-current {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.8em;
}
p {
    font-size: 1em;
    line-height: 1.3em;
    color: #333;
}
.indented {
    text-indent: 20px;
}
footer {
    margin: 10px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    max-width: 1000px;
}
nav {
 border-bottom: 1px solid #d5d5d5;
 max-width: 1000px;
}
h2 {
    font-size: 1.3em;
}
.address a {
    color: #222
}

.page {
    margin: 10px;
    min-height: 300px;
    max-width: 1000px;
    min-width: 200px;
}

@media (max-width: 1000px) {
    .nameHeader {
        margin-top: 20px;
        line-height: 62%;
        font-size: 8vw;
        text-align: center;
    }
    .nameHeader .first-middle {
        font-size: 5.5vw;
        vertical-align: top;
        font-weight: 100
    }
    .nameHeader .last-heavy {
        font-weight: 400;
    }
    .nameHeader .last-light {
        font-weight: 300;
    }
    .nameHeader .gabe {
        margin-top: 1px;
    }
    .nameHeader .alana {
        position: relative;
        left: 8.4vw;
    }
}

@media (min-width: 1001px) {
    .nameHeader {
        margin-top: 20px;
        line-height: 62%;
        font-size: 5em;
        text-align: center;
    }
    .nameHeader .first-middle {
        font-size: 0.7em;
        vertical-align: top;
        font-weight: 100
    }
    .nameHeader .last-heavy {
        font-weight: 400;
    }
    .nameHeader .last-light {
        font-weight: 300;
    }
    .nameHeader .gabe {
        margin-top: 1px;
    }
    .nameHeader .alana {
        position: relative;
        left: 1.05em;
    }
}


.frontCenter {
    align-self: center;
    text-align: center;
}
