<!DOCTYPE html>
<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>Alana &amp; Gabe{{if ne .Title "Home"}}: {{.Title}}{{end}}</title>
        <link rel="stylesheet" href="/pure-min.css">
        <link rel="stylesheet" href="/grids-responsive-min.css">
		<link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="noindex">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57654955-1', 'auto');
  ga('send', 'pageview');

</script>
	</head>
	<body>
        <nav>
            <ul>
                {{with .NavItems}}
                {{range .}}<li{{if eq .Route $.Route}} class="nav-current"{{end}}><a href="/{{.Route}}">{{.Title}}</a></li>
                {{end}}
                {{end}}
            </ul>
		</nav>
        <div class="page">
            {{.Body}}
        </div>
        <footer>
            <ul>
                <li><a href="mailto:us@kin.house">Contact</a></li>
                <li><a href="https://github.com/kinhouse/kh-site">Source</a></li>
            </ul>
		</footer>
	</body>
</html>
